body {
    background-color: #d3e8ff;
}

/* The main element on the page */
.main {
    background-color: #f0f7ff;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;

    padding-left: 0;
    padding-right: 0;
}

/* The div holding the input form */
.message-input {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #f0f7ff;
}

/* The message input field */
#message {
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* The send button */
.btn {
    cursor: pointer;
}

/* The container holding the messages */
.message-container {
    height: 100%;
    overflow: scroll;
    padding-bottom: 75px;
    list-style-type: none;
    padding-left: 0px;
}

/* Hide the scroll bar for the chat box */
.message-container::-webkit-scrollbar { 
    display: none; 
}

/* Basic style for all messages */
.message {
    margin: 5px;
    padding: 5px;
    width: fit-content;
}

/* Style for messages from other users */
.incomming-message {
    background-color: #d2e0ff;
    float: left;
    clear: both;
}

/* Style for messages from this user */
.outgoing-message {
    background-color: #c6e3ff;
    float: right;
    clear: both;
}

/* Style for messages from the server */
.server-message {
    background-color: #d7dee6;
    float: right;
    clear: both;
}

/* The notice message above the text input */
#notice {
    margin: 0 0 2px 2px;
    font-size: 10px;
}

/* Span holding a users username */
.username-span {
    font-size: 10px;
    float: left;
}

/* Span holding a users message */
.user-message-span {
    float: left;
    clear: both;
}

/* Span holding the timestamp of a message */
.date-time-span {
    float: right;
    clear: both;
    font-size: 8px;
}

/* Remove the arrow from the popup */
.tooltip .tooltip-inner {
    background-color: #f0f7ff;
    color: #6c757d;
}
  
.tooltip .arrow::before {
    display: none;
}

/* Center element */
.center {
    text-align: center;
}

/* Help button at the bottom of the page */
.help-button {
    background-color: #f0f7ff;
    font-size: 13px;
}

.help-button:hover {
    background-color: #e5ecf3;
}

.tab-content {
    height: 92%;
    margin-bottom: 20px;
}

.nav-tabs {
    background-color: #e9eff7 !important;
    border-bottom: #e9eff7 !important;
}

.nav-link {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    color: grey !important;
}

.nav-link.active {
    background-color: #f0f7ff !important;
    border-color: #e9eff7 #e9eff7 #f0f7ff !important;
    color: black !important;
}

.close {
    position: absolute;
    padding: 2px;
    font-size: 12px;
    margin: 2px;
    cursor: pointer;
}

@media (min-width: 992px) {
    .main {
        width: 900px;
        height: 960px;
    }
}

@media (min-width: 768px) {
    .main {
        height: 720px;
    }
}

@media (min-width: 576px) {
    .main {
        height: 540px;
    }
}